<h1>{{name}}</h1>

<dl>
  <td>Nombre: </td>
  <dd>{{name}}</dd>
</dl>

<dl>
  <td>Edad: </td>
  <dd>{{age}}</dd>
</dl>

<dl>
  <td>Método: </td>
  <dd>Algún método</dd>
</dl>

<dl>
  <td>Capitalizado: </td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button
*ngIf="name !== 'Iroman'"
(click)="changeHero()"
class="btn btn-primary mx-2">
  cambiar nombre
</button>

<button
*ngIf="age !== 30"
(click)="changeAge()"
class="btn btn-primary">
  Cambiar edad
</button>

<button

(click)="resetForm()"
class="btn btn-primary mx-2">
  Reset
</button>
